* {
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 1440px;
   }
  

/* Nav */

.nav
{
  
   background-color:  white;
   display: flex;
    list-style-type: none;
    padding-left: 75%;
  
  
}



a{
    text-decoration: none;
    
    
}
a :hover{
    color: #505050;
    font-size: 17px;
}

.item{
    position: relative;
    color:black;
    padding: 5px;
    margin-top: 15px;
    margin-left: 15px;
    font-family:  Helvetica, sans-serif;
    font-size: 15px;
}


  /* hero space */


  .herospace{
    position: absolute;
    width: 100%;
    height: 632px;
    display: flex;
    background-color: white;
    padding: 25px;
    z-index: 11;
}

.name{
    position: relative;
    margin-top: 2%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    height: -30px;
    text-decoration: none;
    text-align: left;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.me{
    position: absolute;
    width: auto;
    height: auto;
    background-color: white;
  margin-top: 30%;
    z-index: 11;
    background: no-repeat;
   
}





/* Main */
body {
    font-family: Times;
   
    /* This is just a helper in case the element has a transparent background or white colors. */
  }
  
  div.row-17.w-row {
    box-sizing: border-box;
    color: #fff;
    font-family: Lato,sans-serif;
    line-height: 22px;
    overflow: hidden;
  }
  
  div.row-17.w-row:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.row-17.w-row:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  @media screen and (max-width: 767px) {
    .w-row, .w-container .w-row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  div.column-23.w-col.w-col-6 {
    box-sizing: border-box;
    color: #fff;
    float: left;
    font-family: Lato,sans-serif;
    line-height: 22px;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 50%;
  }
  
  @media screen and (max-width: 767px) {
    div.column-23.w-col.w-col-6 {
      left: auto;
      right: auto;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 479px) {
    div.column-23.w-col.w-col-6 {
      width: 100%;
    }
  }
  
  
  img.image-86 {
    border-width: 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    float: none;
    font-family: Lato,sans-serif;
    line-height: 22px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    opacity: 1;
    padding-top: 110px;
    transition: opacity 1500ms ease 0s;
   
  }
  
  @media screen and (max-width: 479px) {
    img.image-86 {
      position: relative;
      z-index: 0;
    }
  }
  
  
  div.container-14.w-container {
    box-sizing: border-box;
    clear: none;
    color: #fff;
    font-family: Lato,sans-serif;
    line-height: 22px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }
  
  div.container-14.w-container:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.container-14.w-container:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  p.photocaption {
    box-sizing: border-box;
    clear: none;
    color: #a8a8a8;
    display: block;
    float: left;
    font-family: Karla,sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin: 8px auto auto;
    padding-left: 0;
    position: static;
    text-align: left;
  }
  
  @media screen and (max-width: 479px) {
    p.photocaption {
      float: left;
    }
  }
  
  
  div.column-24.w-clearfix.w-col.w-col-6 {
    box-sizing: border-box;
    color: #fff;
    float: left;
    font-family: Lato,sans-serif;
    line-height: 22px;
    margin-top: 130px;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 50%;
    z-index: 60;
  }
  
  @media screen and (max-width: 767px) {
    div.column-24.w-clearfix.w-col.w-col-6 {
      left: auto;
      margin-top: -136px;
      overflow: visible;
      padding-bottom: 115px;
      right: auto;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 479px) {
    div.column-24.w-clearfix.w-col.w-col-6 {
      margin-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }
  
  
  div.column-24.w-clearfix.w-col.w-col-6:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  @media screen and (max-width: 767px) {
    div.column-24.w-clearfix.w-col.w-col-6 {
      left: auto;
      margin-top: -136px;
      overflow: visible;
      padding-bottom: 115px;
      right: auto;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 479px) {
    div.column-24.w-clearfix.w-col.w-col-6 {
      margin-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }
  
  
  div.column-24.w-clearfix.w-col.w-col-6:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  @media screen and (max-width: 767px) {
    div.column-24.w-clearfix.w-col.w-col-6 {
      left: auto;
      margin-top: -136px;
      overflow: visible;
      padding-bottom: 115px;
      right: auto;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 479px) {
    div.column-24.w-clearfix.w-col.w-col-6 {
      margin-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }
  
  
  img.image-77.w-hidden-small.w-hidden-tiny {
    border-width: 0;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    float: none;
    font-family: Lato,sans-serif;
    line-height: 22px;
    margin-left: 30px;
    margin-top: -280px;
    max-width: 100%;
    vertical-align: middle;
    width: 80%;
  }
  
  @media screen and (max-width: 991px) {
    img.image-77.w-hidden-small.w-hidden-tiny {
      overflow: visible;
    }
  }
  
  @media screen and (max-width: 767px) {
    img.image-77.w-hidden-small.w-hidden-tiny {
      display: none;
    }
  }
  
  @media screen and (max-width: 479px) {
    img.image-77.w-hidden-small.w-hidden-tiny {
      display: inherit;
    }
  }
  
  
  div.bio {
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    float: left;
    font-family: Lato,sans-serif;
    height: auto;
    left: 0;
    line-height: 22px;
    margin-left: 18px;
    margin-right: 64px;
    margin-top: 20px;
    opacity: 1;
    padding: 32px 30px;
    position: relative;
    right: 0;
    top: 0;
    transform: translateX(0) translateY(10px);
    transition: transform 1000ms ease 0s;
    width: auto;
    z-index: 1;
  }
  
  @media screen and (max-width: 479px) {
    div.bio {
      bottom: 179px;
      display: block;
      float: right;
      height: auto;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      overflow: visible;
      right: 0;
      top: -4px;
      width: auto;
      z-index: 100;
    }
  }
  
  @media screen and (max-width: 991px) {
    div.bio {
      left: -22px;
      margin-right: 29px;
      z-index: 1;
    }
  }
  
  @media screen and (max-width: 767px) {
    div.bio {
      left: auto;
      margin-right: 18px;
      right: auto;
      top: 132px;
    }
  }
  
  
  h1.heading.black {
    box-sizing: border-box;
    color: #000;
    font-family: gt-sectra-fine,sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: .3px;
    line-height: 32px;
    margin: 0 0 16px;
    text-transform: none;
  }
  
  a.link-26 {
    background-color: transparent;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-family: gt-sectra-fine,sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: .3px;
    line-height: 32px;
    opacity: 1;
    text-decoration: underline;
    transform: translate(0,0);
    transform: translateX(0) translateY(0) translateZ(0);
  }
  
  a.link-26:active {
    outline: 0;
  }
  
  a.link-26:hover {
    outline: 0;
  }
  
  p.paragraph-2 {
    box-sizing: border-box;
    color: #000;
    display: block;
    font-family: Karla,sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -.2px;
    line-height: 30px;
    margin: 0 auto 32px;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
  
  @media screen and (max-width: 991px) {
    p.paragraph-2 {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media screen and (max-width: 767px) {
    p.paragraph-2 {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media screen and (max-width: 479px) {
    p.paragraph-2 {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  
  a.link-18 {
    background-color: transparent;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-family: Karla,sans-serif;
    font-size: 18px;
    letter-spacing: -.2px;
    line-height: 30px;
    opacity: 1;
    text-align: left;
    text-decoration: underline;
    transform: translate(0,0);
    transform: translateX(0) translateY(0) translateZ(0);
  }
  
  a.link-18:active {
    outline: 0;
  }
  
  a.link-18:hover {
    outline: 0;
  }
  
  div.row-17.w-row br {
    box-sizing: border-box;
    color: #000;
    font-family: Karla,sans-serif;
    font-size: 18px;
    letter-spacing: -.2px;
    line-height: 30px;
    text-align: left;
  }
  
  a.link-16 {
    background-color: transparent;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-family: Karla,sans-serif;
    font-size: 18px;
    letter-spacing: -.2px;
    line-height: 30px;
    opacity: 1;
    text-align: left;
    text-decoration: underline;
    transform: translate(0,0);
    transform: translateX(0) translateY(0) translateZ(0);
  }
  
  a.link-16:active {
    outline: 0;
  }
  
  a.link-16:hover {
    outline: 0;
  }
  
  div.view-case-study-link.resume.w-clearfix {
    box-sizing: border-box;
    color: #fff;
    display: none;
    float: none;
    font-family: gt-sectra-fine,sans-serif;
    font-size: 24px;
    line-height: 22px;
    margin-bottom: 6px;
    margin-top: 0;
    opacity: 1;
    overflow: visible;
    padding-bottom: 0;
    position: relative;
    text-decoration: none;
    top: 0;
    transform: translate(0,0);
    transform: translateX(0) translateY(0) translateZ(0);
  }
  
  @media screen and (max-width: 479px) {
    div.view-case-study-link.resume.w-clearfix {
      line-height: 28px;
    }
  }
  
  
  div.view-case-study-link.resume.w-clearfix:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  @media screen and (max-width: 479px) {
    div.view-case-study-link.resume.w-clearfix {
      line-height: 28px;
    }
  }
  
  
  div.view-case-study-link.resume.w-clearfix:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  @media screen and (max-width: 479px) {
    div.view-case-study-link.resume.w-clearfix {
      line-height: 28px;
    }
  }
  
  
  div.text-block-3 {
    box-sizing: border-box;
    color: #000;
    float: left;
    font-family: Karla,sans-serif;
    font-size: 16px;
    letter-spacing: 1.25px;
    line-height: 22px;
  }
  
  a.link-8 {
    background-color: transparent;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-family: Karla,sans-serif;
    letter-spacing: 1.25px;
    line-height: 22px;
    text-decoration: none;
  }
  
  a.link-8:active {
    outline: 0;
  }
  
  a.link-8:hover {
    outline: 0;
  }
  
  a.link-block-2.w-inline-block.w-clearfix {
    background-color: transparent;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    float: none;
    font-family: gt-sectra-fine,sans-serif;
    font-size: 24px;
    line-height: 22px;
    max-width: 100%;
    text-decoration: underline;
  }
  
  a.link-block-2.w-inline-block.w-clearfix:active {
    outline: 0;
  }
  
  a.link-block-2.w-inline-block.w-clearfix:hover {
    outline: 0;
  }
  
  a.link-block-2.w-inline-block.w-clearfix:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  a.link-block-2.w-inline-block.w-clearfix:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  img.image-9 {
    border-width: 0;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: block;
    float: right;
    font-family: gt-sectra-fine,sans-serif;
    font-size: 24px;
    height: 20px;
    line-height: 22px;
    margin-left: 12px;
    margin-top: 0;
    max-width: 100%;
    padding-left: 0;
    padding-top: 0;
  }
  
  a.link-block-13.w-inline-block {
    background-color: transparent;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: Lato,sans-serif;
    line-height: 22px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-top: 0;
    text-decoration: none;
  }
  
  a.link-block-13.w-inline-block:active {
    outline: 0;
  }
  
  a.link-block-13.w-inline-block:hover {
    outline: 0;
  }
  
  p.paragraph-2.bonus {
    background-color: rgba(231,231,231,.8);
    border-radius: 6px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: Karla,sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -.2px;
    line-height: 30px;
    margin: 0 auto 24px;
    max-width: 800px;
    opacity: 1;
    padding: 16px;
    text-align: left;
    text-decoration: none;
    transform: translate(0,0);
    transform: translateX(0) translateY(0) translateZ(0);
  }
  
  @media screen and (max-width: 991px) {
    p.paragraph-2.bonus {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media screen and (max-width: 767px) {
    p.paragraph-2.bonus {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media screen and (max-width: 479px) {
    p.paragraph-2.bonus {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  
  div.row-17.w-row strong {
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-family: Karla,sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.2px;
    line-height: 30px;
    text-align: left;
  }

/* footer */
    

.bottom{
 
  position: absolute;
  width: 100%;
  height: 200px;
  display: flex;
  background-color:white;
  padding: 25px 25px 25px 25px;
  margin-top: 5%;
  z-index: 11;
 

}

.socialmedia{
  display: flex;
  flex-direction: row;
 padding-left: 8%;
 padding-top: 10%;
 margin: auto;
}
.img{
  padding-left: 15px;
  height: 50px;
  width: auto;
}
.copyright{
  padding-top: 20px;
  padding-left: 8.9%;
  padding-bottom: 5%;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
}



